{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container">

    <div class="row">

        <!-- Blog Post/s Column -->
        <div class="col-md-9">

        {% block blogcontent %}

        {% endblock %}

        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-3 sidebar">

            <!-- Blog Categories List group -->
            <div class="list-group">
                <h4>Blog Categories</h4>
                <a href="{% url 'blog:posts' %}"
                       class="list-group-item">All
                        <span class="badge badge-default badge-pill">{{ post_count }}</span>
                    </a>
                {% for category in categories %}
                    <a href="{% url 'blog:posts' cat=category.name %}"
                       class="list-group-item">{{ category.name }}
                        <span class="badge badge-default badge-pill">{{ category.catcount }}</span>
                    </a>
                {% endfor %}
            </div>

            <!-- Blog Latest List group -->
            <div class="list-group">
                <h4>Latest Posts</h4>
                {% for post in latest %}
                    <a href="{% url 'blog:post_detail' pk=post.pk slug=post.slug %}" class="list-group-item">{{ post.title }}</a>
                {% endfor %}
            </div>

            <!-- Blog Tags Well -->
            <h4>Tags</h4>
            <div class="well">
                <p>
                    {% for tag in tag_count %}
                        <a href="{% url 'blog:posts' tag=tag.slug %}">{{ tag.slug }} ({{ tag.tagcount }}),</a>
                    {% endfor %}
                </p>
            </div>

        </div>

    </div><!-- /.row -->

    {% block disqus %}
    {% endblock %}

</div>

{% endblock %}