{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container">

    <div class="row">

        <!-- Blog Post/s Column -->
        <div class="col-md-8">

        {% block blogcontent %}

        {% endblock %}

        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4 sidebar">

            <!-- Blog Categories Well -->
            <div class="well">
                <h4>Blog Categories</h4>
                <a href="{% url 'blog:posts' %}">All</a>
                <p>
                    {% for category in categories %}
                        <a href="{% url 'blog:category' name=category.name %}">{{ category.name }}</a> |
                    {% endfor %}
                </p>
            </div>

            <!-- Blog Latest Posts Well -->
            <div class="well">
                <h4>Latest Posts</h4>
                <ul class="list-unstyled">
                    {% for post in latest %}
                        <li><a href="{% url 'blog:post_detail' pk=post.pk slug=post.slug %}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Blog Tags Well -->
            <div class="well">
                <h4>Tags</h4>
                <p>
                    {% for tag in tags %}
                        <a href="{% url 'blog:tag' name=tag.slug %}">{{ tag.slug }}</a>
                    {% endfor %}
                </p>
            </div>

        </div>

    </div><!-- /.row -->

    {% block disqus %}
    {% endblock %}

</div>

{% endblock %}