{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="container">
        <br>
        <img class="img-responsive img-circle center-block" src="{% static 'img/MeNepal.jpg' %}" alt="Me" width="240" height="240">
        <h2 class="sidelines">About me</h2>
        <p>I support the full developement cycle of corporate systems and provide key information from them, utilising SQL, Python,
            database knowledge and analysis techniques.  Currently I am interested in managing and visualising data online using Python's
            Django framework from which to build on.
        </p>
        <p>Personal interests include yoga, meditation, weight lifting and cooking</p>
        <p>
            I like to travel and have spent extended periods away in places like India, Nepal and South East Asia.
            This picture above is me at the Thorong-La pass In Nepal at 5500m.
        </p>
    </div>

    <div class="container">
        <h2 class="sidelines">Experience</h2>
        <p>I have worked in the health care and higher education sector for the last 10 years as data analyst and systems administrator.
            These roles have had varied responsibilities including systems development, server administration, statistics and dashboard development.
        </p>
    </div>
    <br>

    <div class="container">
        <h2 class="sidelines">Technical Skills</h2>
        <div class="row">
            <div class="col-md-4">
                <h3>Software & Database:</h3>
                <p>SQL Server, PostgreSQL, BusinessObjects, Tableau</p>
            </div>
            <div class="col-md-4">
                <h3>Languages:</h3>
                <p>HTML, CSS, JavaScript, Python, SQL, VBA</p>
            </div>
            <div class="col-md-4">
                <h3>Frameworks, Libraries & Tools:</h3>
                <p>Django, Bootstrap, Git & gitHub, Numpy, Pandas</p>
            </div>
        </div>
    </div>

{% endblock %}