{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="jumbotron jumboabout text-center">
        <div class="row">

            <div class="container">
                <div class="col-lg-12">
                    <h1 class="jumbohead">ABOUT - THIS - SITE</h1>
                    <p class="jumbolead">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
      <div class="jumbotron aboutpage">
        <h2 class="sidelines">Skills</h2>
        <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing
        responsive, mobile-first projects on the web.</p>
      </div>
    </div>

    <div class="container">
      <div class="jumbotron aboutpage">
        <h2 class="sidelines">Experience</h2>
        <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing
        responsive, mobile-first projects on the web.</p>
      </div>
    </div>

    <div class="container">
      <div class="jumbotron aboutpage">
        <h2 class="sidelines">Personal</h2>
        <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing
        responsive, mobile-first projects on the web.</p>
      </div>
    </div>

{% endblock %}