{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <!-- Latest 2 blog posts. 1 row with 2 columns -->
    <div class="container">

        <div class="row">
            {% for post in posts %}
            
                <div class="col-md-6 col-sm-6 col-lg-6">
                    <div class="card">
                        <a href="{% url 'blog:post_detail' pk=post.pk slug=post.slug %}">
                            <img class="img-responsive blogheader" src="{{ post.headimage.url }}" alt="Blog Header">
                        </a>
                        <div class="card-container">
                            <h4><a href="{% url 'blog:post_detail' pk=post.pk slug=post.slug %}">{{ post.title }}</a></h4>
                            <p>{{ post.description|safe|truncatewords_html:50 }}</p>
                        </div>
                    </div>
                </div>
            
            {% endfor %}
        </div>

    </div>

    <!-- Latest projects -->
    <div class="container">

        <h2 class="sidelines">LATEST PROJECTS</h2>

        <div class="row">
        {% for project in projects %}

            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="card">
                    <a href="{% url 'projects:projectredirect' name=project.slug %}">
                        <img class="img-responsive center-block" src="{{ project.image.url }}" alt="{{ project.name }}">
                    </a>
                    <div class="card-container">
                        <h4><a href="{% url 'projects:projectredirect' name=project.slug %}">{{ project.name }}</a></h4>
                        <p>{{ project.description|truncatewords_html:50 }}</p>
                    </div>
                </div>
            </div>

        {% endfor %}
        </div>

    </div>
    <!--end projects-->


{% endblock %}
