{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="container">
        <div class="row projects">

            <div class="col-lg-12">
                <h2 class="sidelines">LATEST PROJECTS</h2>
            </div>

            {% for project in projects %}
            <div class="col-xs-18 col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img class="img-responsive rounded-circle" src="{{ project.image.url }}" alt="Blog Header" width="140" height="140">
                    <div class="caption">
                        <h3>{{ project.name }}</h3>
                        <p>{{ project.description|safe|truncatewords_html:50 }}</p>
                        <p><a class="btn btn-success" href="#" role="button">More &raquo;</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}