html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

.abovenavheader {
    font-size: 30px;
}

/* Social buttons */
.social_list li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    font-size:30px
}

/* Search box */
.searchbar {
     width: 250px !important;
}

input[type="text"]
{
    font-size:14px;
}

nav.navbar {
    margin-bottom: 0;
    border-radius:0px !important;
    font-size: 14px;
}

p {
    font-size: 17px;
    line-height: 27px;
}

.v-center {
   display: flex;
   align-items: center;
}

.jumbohome {
    position: relative;
    background: url("../img/12-min.jpg") center center;
    background-size: cover;
    overflow: hidden;
    color: whitesmoke;
}

.jumbolead {
    font-weight: bold !important;
}

/* lines to side of headings */
h2.sidelines {
    overflow: hidden;
    text-align: center;
}

h2.sidelines:before,
h2.sidelines:after {
     background-color: #333;
     content: "";
     display: inline-block;
     height: 1px;
     position: relative;
     vertical-align: middle;
     width: 50%;
}

h2.sidelines:before {
     right: 0.5em;
     margin-left: -50%;
}

h2.sidelines:after {
     left: 0.5em;
     margin-right: -50%;
}
/* -------------------------------- */

/* Blog styles */
.date {
    font-style: italic;
}

/* links --------------------*/
a:link {
    color: #2c3e50;
}

a:visited {
    color: #2c3e50;
}

a:hover {
    color: #1abc9c;
    text-decoration: none;
}

a:active {
    color: #2c3e50;
}

a.btn-success {
    color: white;
}
/* ------------------------*/

.aboutpage {
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #d5dddd;
    padding-top: 5px;
}

.sidebar {
    margin-top: 20px;
}

.blog-date p{
    text-align: center;
    font-size: 14px;
}

#thanksp {
    text-align: center;
}

.blogheader {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.blogimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blogdivimage {
    display:block;
    text-align:center
}
#devicons {
    font-size: 60px;
    color: #eab552;
}