{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="container">

        <h2 class="sidelines">LATEST PROJECTS</h2>

        <p>Some projects are hosted on Heroku's free teir and may take up to 20 seconds to load.</p>

        <div class="row">
        {% for project in projects %}
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="card">
                    <a href="{% url 'projects:projectredirect' name=project.slug %}">
                        <img class="img-responsive center-block" src="{{ project.image.url }}" alt="{{ project.name }}">
                    </a>
                    <div class="card-container">
                        <h4><a href="{% url 'projects:projectredirect' name=project.slug %}">{{ project.name }}</a></h4>
                        <p>{{ project.description|truncatewords_html:50 }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

{% endblock %}