{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="container">

        <h2 class="sidelines">LATEST PROJECTS</h2>

        {% for project in projects %}
        <div class="row">
            <div class="col-sm-2">
                <img class="img-responsive img-circle" src="{{ project.image.url }}" alt="Blog Header" width="175" height="175">
            </div>
            <div class="col-sm-10">
                <h3><a href="#">{{ project.name }}</a></h3>
                <p>{{ project.description|safe|truncatewords_html:50 }}</p>
            </div>
        </div>
        <hr>
        {% endfor %}

    </div>

{% endblock %}