{% extends 'base.html' %}
{% load staticfiles %}

{% block addhead %}

<style>
    .checked {
      background: lightgrey;
      color: red;
      text-decoration: line-through;
    }
    ul li {
        cursor: pointer;
    }

</style>

{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <h1>Todo List</h1>

                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn" onclick="handlers.toggleAll()">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </button>
                    </span>
                    <input class="form-control input-md" id="addTodoTextInput" type="text" placeholder="What do you need to do...">
                    <span class="input-group-btn">
                        <button class="btn" onclick="handlers.deleteAll()">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>

                <ul id="todos" class="list-group">
                </ul>

            </div>
        </div>

        <hr>
        <small>
            <h5>Notes & Reference: </h5>
            <ul>
                <li>Created with vailla JS only</li>
                <li><a href="http://todomvc.com/">http://todomvc.com/</a></li>
                <li><a href="https://watchandcode.com">https://watchandcode.com</a>/</li>
            </ul>
        </small>

    </div>

<script src="{% static 'JS/todoapp.js' %}"></script>

{% endblock %}