{% extends 'baseblog.html' %}
{% load staticfiles %}
{% load disqus_tags %}
{% set_disqus_identifier "page_" page.pk %}
{% set_disqus_title page.title %}

{% block blogcontent %}

    <h2 class="sidelines">{{ post.title }}</h2>
    <div class="blog-date">
        <p>{{ post.published_date }}</p>
    </div>
    <img class="img-responsive blogheader" src="{{ post.headimage.url }}" alt="Blog Header">
    <br>
    <p>{{ post.text|safe }}</p>
    <hr>
    <p>Category: <a href="{% url 'blog:category' name=post.category %}">{{ post.category }}</a></p>
    <br>

{% endblock %}

{% block disqus %}
    <div class="col-md-8">
        {% disqus_show_comments %}
    </div>
{% endblock %}